/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08/12/2014, 11:35:01
    Author     : cpilon
*/
h5 {margin:5px 0;}
table {margin: 0!important;}
table td {line-height: normal!important;}
#pagination {margin: 5px;width: auto;}
#pagination li,#orderBy ul li, #sortType ul li{padding: 3px 5px;}
#orderBy, #sortType {margin: 5px;}
.list-group {margin: 0;}
.col-centered{margin: 0 auto;}